h1 {
  color: red;
  text-align: center;
	font-size: 25px;
}

h2 {
	color: yellow;
  font-style: italic;
  text-align: center;
	font-size: 14 px;
}
body { 
	background-color: yellowgreen;
	line-height: 2.5;
	font-weight: normal;
	font-family: "Comic Sans MS", "Comic Sans";
	font-size: medium;
	text-align: center;
	font-style: oblique;
	color: green; 
	margin: 0; 
	padding: 0;
	}

p {
  font-family: sans-serif;
}

ul {
  font-size: 40px;
  line-height: 30px;
}
img {
	width: 600px;
	height: 600px;
}